body {
  background-color: #bfbdbe;
}

.search-box {
  max-width: 700px;
  padding: 40px;
  margin: 60px auto;
}
.button {
  background-color: #e8299e;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.search {
  border-radius: 10px;
}
.size {
  max-width: 400px;
  margin: 0 auto;
}

.category-name {
  color: #e8299e;
  text-align: center;
  padding: 10px;
  font-size: 28px;
  pading-bottom: 20px;
  text-align: center;
}
img {
  width: 300px;
  height: 300px;
}
p {
  display: inline;
}
button {
  font-family: FontAwesome, "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  outline: 0;
  background: #002c4e;
  width: 100%;
  border: 0;
  border-radius: 30px;
  margin: 0px 0px 8px;
  padding: 15px;
  color: #f2f2f2;

  transition: all 0.3 ease;
  cursor: pointer;
  transition: all 0.2s;
}
button:hover,
button:focus {
  background: #e8299e;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
button:active {
  transform: translateY(2px);
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
}
a {
  color: white;
}
nav {
  background-color: #002c4e;
}
h2 {
  text-align: center;
  color: #002c4e;
}
